* {
	/* background properties */
	background-color: #F8F8FF;
	/* text properties */
	color: #000;
	font-family: cursive;
	font-size: 46px;
	text-align: center;
}

.header {
	/* box properties */
	height: 100%;
	width: 100%;
	/* box borders */
	border-radius: 5px;
	box-shadow: 5px 5px 4px #008B8B;
	/* background properties */
	background-color: #7FFFD4;
	/* text properties */
	text-align: left;
}

.logo {
	/* box properties */
	display: inline-block;
	height: 4%;
	width: 4%;
	margin-left: 1.5%;
	margin-top: 0.5%;
	/* background properties */
	background-color: #7FFFD4;
	/* text properties */
	text-align: left;
}

.header-tittle { /* TODO: CORREGIR TITTLE POR TITLE */
	/* box properties */
	display: inline-block;
	margin: 0.5% 0 0.5% 1.5%;
	/* background properties */
	background-color: #7FFFD4;
	/* text properties */
	color: #000;
	font-family: times;
	text-align: center;
}

.body-container {
	/* box properties */
	margin: inherit;
	/* text properties */
	text-align:center;
}

.form-signin {
	/* box properties */
	display: inline-block;
	height: 15%;
	width: 35%;
	margin: 6% 10%;
	padding: 1.5%;
	/* box borders */
	border: 2px solid #777777;
	border-radius: 5px;
	/* background properties */
	background-color: #FFF;
	/* text properties */
	text-align: center;
}

.form-signin-heading {
	/* box properties */
	margin-top: 0.5%;
	vertical-align: top;
	/* background properties */
	background-color: #FFF;
	/* text properties */
	color: #00FF00;
	text-decoration: underline;
}

.form-control {
	/* box properties */
	width: 95%;
	/* background properties */
	background-color: #D3D3D3;
	/* text properties */
	text-align: center;
}

.sr-only {
	/* background properties */
	background-color: #FFF;
}

.btn {
	/* box properties */
	width: 70%;
	padding: 10px 20px;
	margin: 3.5% 0%;
	/* box borders */
	border: none;
	border-radius: 4px;
	/* background properties */
	background-color: #4CAF50;
	/* text properties */
	color: #FFF;
	/* others */
	cursor: pointer;
}
