* {
	/* text properties */
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.content {
	/* box properties */
	margin-top: 10vh;
	/* text properties */
	text-align:center;
}

.form-signin {
	/* box properties */
	display: inline-block;
	height: 15%;
	width: 35%;
	margin: 6% 10%;
	padding: 1.5%;
	/* box borders */
	border: 2px solid #777777;
	border-radius: 5px;
	/* background properties */
	background-color: #FFF;
	/* text properties */
	text-align: center;
}

.form-signin-heading {
	/* box properties */
	margin-top: 0.5%;
	vertical-align: top;
	/* background properties */
	background-color: #FFF;
	/* text properties */
	color: #00FF00;
	text-decoration: underline;
}

.form-control {
	/* box properties */
	width: 95%;
	/* background properties */
	background-color: #D3D3D3;
	/* text properties */
	text-align: center;
}

.sr-only {
	/* background properties */
	background-color: #FFF;
}

.btn {
	/* box properties */
	width: 70%;
	padding: 10px 20px;
	margin: 3.5% 0%;
	/* box borders */
	border: none;
	border-radius: 4px;
	/* background properties */
	background-color: #4CAF50;
	/* text properties */
	color: #FFF;
	/* others */
	cursor: pointer;
}
